
@using (Html.BeginForm("Index", "Home"))
{
    <!-- Intro -->
    <div id="form-wrapper">
        <div id="intro-wrapper">
            <div>
                <h2>@ViewBag.Message</h2>
                <br />
            </div>
        </div>
    </div>
}